@{
    ViewData["Title"] = "Home Page";
}

<div class="text-align:left">
    <h5 class="display-5">Kişisel Bilgileri Doldurunuz</h5>
    <p>Ana Sayfa <a href="www.jandarma.gov.tr">Jandarma Genel Komutanlığı</a></p><br />
    <label for="fname">Adı:</label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <input type="text" id="fname" name="fname"><br><br>
    <label for="lname">Soyadı:</label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <input type="text" id="lname" name="lname"><br><br>
    <label for="lname">Memleketi:</label>&nbsp&nbsp&nbsp
    <input type="text" id="lname" name="lname"><br><br>
    <label for="lname">Yaş:</label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <input type="text" id="lname" name="lname"><br><br><form action="demo_form.php">
        Doğum günü: <input type="date" name="bday">
    </form><br />
    <input type="submit" value="Gönder">
    <input type="reset" value="Sil">
</div>
